@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito',sans-serif;
    margin: 0;padding: 0;
    outline: none;box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    overflow-x: none;
}
:root{
    --white:#fff;
    --nav:#777784;
    --cinza1:#4a4a4a;
    --cinza2:#383838;
    --cinza3:#282828;
    --color-navbar:#3a3f51;
    --body:#f5f7fa;
}
.heading{
    font-size: 2rem;
    margin-left: 1.5rem ;
    margin-bottom: 2.2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
html{
    font-size: 62.2%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: #f5f7fa;
}
header{
    position: fixed;
    top: 0;right: 0;left: 0;
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    z-index: 1000;
    align-items: center;
    background:linear-gradient(to right,var(--cinza3),var(--cinza2),var(--cinza1));
}
header i {
    padding: .5rem;
    font-size:2rem ;
    cursor: pointer;
}    
header .navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--white);
}
header .navbar a:hover{
    color: var(--cinza1);
}
.left{
    display: block;
    white-space: nowrap;
    
}    
/* inicio da home */
.home-bg{
    background: url(/image/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
.home-bg .home{
    min-height: 41rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}
.home-bg .home .content{
    text-align: center;
    width: 100rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    
}
.home-bg .home .content img{
    height: 107px;
    width: 107px;
    margin-bottom: 3rem;
    border:4px solid var(--white) ;
}
.home-bg .home .content h2{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.home-bg .home .content p{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 2.5px;
}
.home-bg .home .content i{
    margin-right: .5rem;
    font-size: 1.5rem;
}
.home-bg .home .content  .bola{
    font-size: .9rem;
}
.home-bg .home .content button{
    text-transform: none;
    font-size: 2rem;
    font-weight: 700;
    color: #008b00;
    border-radius: .7rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}
.home-bg .home .content span{
    letter-spacing: 1px;
    font-size: 1.8rem;
}
.home-bg .home .content span:hover{
    cursor: pointer;
    color: var(--cinza1);
}
/* inicio navegação dos produtos */

.navegar{
    position: sticky;
    top: 5rem;
    padding: 1.5rem;
    background-color: var(--white);
}
.navegar nav a{
    text-transform: uppercase;
    color: var(--nav);
    font-weight: 700;
    font-size: 2rem;
    margin: 0 1.2rem;
}
/* inicio dos produtos */
.produtos{
    border-top: 2px solid black;
    border-radius: .5rem;
    background-color: var(--white);
    margin:2rem;
}
.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.produtos .box-container .box{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.produtos .box-container .box img{
    width: 90px;
    height: 90px;
    border-radius: .5rem;
}
.produtos .box-container .box h3{
    font-size: 1.9rem;
    margin-bottom: .3rem;
    color: #7d7a82;
    font-weight: 100;
}
.produtos .box-container .box p{
    font-size: 1.2rem;
    color: #7d7a82;
}
.produtos .box-container .box span{
    font-size: 1.6rem; 

}



































/* break points */
@media(max-width:1880px){
    
    .navbar{
        width: 20rem;
        height: 100vh;
        position: absolute;
        top: 99%;left: 0;right: 0;
        background: var(--color-navbar);
        clip-path: polygon(0 0 , 100% 0,100% 0, 0 0);
    }
    .header .navbar .after{
        margin: 12rem 0;
    }
    .header .navbar.active{
        clip-path: polygon(0 0 , 100% 0 , 100%  100%, 0 100%);
    }
    .header .navbar .after i{
        margin: 0 1rem;
    }
    .header .navbar a {
        display: block;
        margin: 3rem 1rem;
        font-size: 1.8rem;
    }
    @media(max-width:991px){
        html{
            font-size: 55%;
        }
    
    }
}

