@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito',sans-serif;
    margin: 0;padding: 0;
    outline: none;box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
:root{
    --white:#fff;
    --cinza1:#4a4a4a;
    --cinza2:#383838;
    --cinza3:#282828;
    --body:#f5f7fa;
}
body{
    background-color: var(--body);
}
html{
    font-size: 62.2%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;right: 0;left: 0;
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    z-index: 1000;
    align-items: center;
    background:linear-gradient(to right,var(--cinza3),var(--cinza2),var(--cinza1));
}
header i {
    padding: .5rem;
    font-size:2rem ;
    cursor: pointer;
}
header .navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--white);
}
header .navbar a:hover{
    color: var(--cinza1);
}
.left{
    margin-right: 77rem;
}
/* inicio da home */
.home-bg{
    background: url(/image/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
.home-bg .home{
    min-height: 41.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}
.home-bg .home .content{
    text-align: center;
    width: 100rem;
    margin-top: 5rem;
    margin-left: 12rem;
    color: var(--white);
    
}
.home-bg .home .content img{
    height: 100px;
    width: 100px;
    margin-bottom: 2rem;
    border:4px solid var(--white) ;
}
.home-bg .home .content h2{
    font-size: 3rem;
    letter-spacing: 4px;
}
.home-bg .home .content p{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 4px;
}
.home-bg .home .content i{
    margin-right: .5rem;
    font-size: 1.5rem;
}
.home-bg .home .content button{
    font-size: 2rem;
    font-weight: 700;
    color: #5bba21;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}
.home-bg .home .content span{
    letter-spacing: 1px;
    font-size: 1.8rem;
}